docker-desktop-amd64.deb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Test, coverage, and logs
*.log
.coverage
pytest_cache/
htmlcov/
.cache/

# Editor and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

